# Environment file for etcd {{ etcd_version }}

ETCD_DATA_DIR=/var/lib/etcd_{{ etcd_name }}
ETCD_ADVERTISE_CLIENT_URLS=https://{{ ansible_host }}:{{ etcd_listen_client_port }}
ETCD_INITIAL_ADVERTISE_PEER_URLS=https://{{ ansible_host }}:{{ etcd_listen_peer_port }}
ETCD_INITIAL_CLUSTER_STATE=new
ETCD_METRICS=basic
ETCD_LISTEN_CLIENT_URLS=https://{{ ansible_host }}:{{ etcd_listen_client_port }},https://127.0.0.1:{{ etcd_listen_client_port }}
ETCD_ELECTION_TIMEOUT=5000
ETCD_HEARTBEAT_INTERVAL=250
ETCD_INITIAL_CLUSTER_TOKEN=k8s_etcd
ETCD_LISTEN_PEER_URLS=https://{{ ansible_host }}:{{ etcd_listen_peer_port }}
ETCD_NAME={{ etcd_name }}
ETCD_PROXY=off
ETCD_INITIAL_CLUSTER={{ etcd_servers_addr }}
ETCD_AUTO_COMPACTION_RETENTION=8
ETCD_SNAPSHOT_COUNT=10000

# Flannel need etcd v2 API

ETCD_ENABLE_V2=true

# TLS settings

ETCD_TRUSTED_CA_FILE={{ etcd_ssl_base_path }}/ca.crt
ETCD_CERT_FILE={{ etcd_ssl_base_path }}/peer.crt
ETCD_KEY_FILE={{ etcd_ssl_base_path }}/peer.key
ETCD_CLIENT_CERT_AUTH=true
 
ETCD_PEER_TRUSTED_CA_FILE={{ etcd_ssl_base_path }}/ca.crt
ETCD_PEER_CERT_FILE={{ etcd_ssl_base_path }}/server.crt
ETCD_PEER_KEY_FILE={{ etcd_ssl_base_path }}/server.key
ETCD_PEER_CLIENT_CERT_AUTH=True

# CLI settings

ETCDCTL_ENDPOINTS=https://127.0.0.1:{{ etcd_listen_client_port }}
ETCDCTL_CACERT={{ etcd_ssl_base_path }}/ca.crt
ETCDCTL_KEY={{ etcd_ssl_base_path }}/peer.key
ETCDCTL_CERT={{ etcd_ssl_base_path }}/peer.crt

 

# ETCD 3.5.x issue
# https://groups.google.com/a/kubernetes.io/g/dev/c/B7gJs88XtQc/m/rSgNOzV2BwAJ?utm_medium=email&utm_source=footer
ETCD_EXPERIMENTAL_INITIAL_CORRUPT_CHECK=True