{
    "cniVersion": "0.4.0",
    "name": "bridge",
    "type": "bridge",
    "bridge": "cnio1",
    "isGateway": true,
    "ipMasq": true,
    "ipam": {
        "type": "host-local",
        "ranges": [
          [{"subnet": "{{ kube_service_network_cidr }}"}]
        ],
        "routes": [{"dst": "0.0.0.0/0"}]
    }
}